// =============================================================================
// Mixins
// =============================================================================

// Grid wrapper
%grid-wrapper {
  width: $fancy_grid-width;
  max-width: $fancy_grid-max-width;
  margin-left: auto;
  margin-right: auto;
  float: none;

  @extend %clearfix;

  @include sgs-change('debug', true);
  @if $debug {
    @include background-grid($color: $grid-debug-color);
  }

  body.display-grid & {
    @include background-grid($color: $grid-debug-color);
  }
  @include sgs-change('debug', false);
}

// Clearfix
%clearfix {
  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}
